<!DOCTYPE html>
<html>
<head>
  <title>Express From Scratch</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

