<% include ./partials/header %>



<div class="ui center aligned container text add-movie">
  <h1><%= title %></h1>
  <form class="ui form" action="/add-movie" method="POST">
    <div class="field">
      <label for="title">Movie Title</label>
      <input type="text" name="title" placeholder="movie title">
    </div>
    <div class="field">
      <label for="description">Movie Description</label>
      <textarea name="description" rows="2" placeholder="what do you like about this movie?"></textarea>
    </div>

    <div class="field">
      <label for="image_url">Image Url</label>
      <input type="text" name="image_url" placeholder="image url here..">
    </div>

    <div class="field">
    <label for="rating">Select rating</label>
      <select name="rating" class="ui dropdown">
        <option value="0">☆☆☆☆☆</option>
        <option value="1">★☆☆☆☆</option>
        <option value="2">★★☆☆☆</option>
        <option value="3">★★★☆☆</option>
        <option value="4">★★★★☆</option>
        <option value="5">★★★★★</option>
      </select>
    </div>

    <div class="field">
      <button class="ui primary button">Submit</button>
    </div>
  </form>
</div>

<div class="ui center aligned container">
  <a href="/">Cancel</a>
</div>




<% include ./partials/footer %>