<% include ./partials/header %>



<div class="ui center aligned container text add-movie">
  <h1><%= title %></h1>
  <form class="ui form" action="/add-movie" method="POST">
    <div class="field">
      <label for="title">Movie Title</label>
      <input type="text" name="title" placeholder="movie title">
    </div>
    <div class="field">
      <label for="description">Movie Description</label>
      <textarea name="description" rows="2" placeholder="what do you like about this movie?"></textarea>
    </div>

    <div class="field">
    <label for="rating">Select rating</label>
      <select name="rating" class="ui dropdown">
        <option value="0">Saya ga mau sama sekali nonton ini walaupun dibayar sekalipun..</option>
        <option value="1">Aduh plis deh, ga bermutu sama sekali</option>
        <option value="2">Nonton film ini cuma ngabisin waktu aja</option>
        <option value="3">Biasa aja, ga ada yang spesial. Okelah buat relaksasi</option>
        <option value="4">Bagus nih film! Menghibur dan ga nyesel nontonnya</option>
        <option value="5">Ini dia film yang cuman ada satu dekade sekali! Classic abis</option>
      </select>
    </div>

    <div class="field">
      <button class="ui primary button">Submit</button>
    </div>
  </form>
</div>

<div class="ui center aligned container">
  <a href="/">Cancel</a>
</div>




<% include ./partials/footer %>