<% include ./partials/header %>




<div class="ui two column centered grid">

  <form class="ui form signup" action="/signup" method="POST">
    <h1><%= title %></h1>
    <div class="field">
      <label>First Name</label>
      <input type="text" name="firstname" placeholder="First Name">
    </div>
    <div class="field">
      <label>Last Name</label>
      <input type="text" name="lastname" placeholder="Last Name">
    </div>
    <div class="field">
      <label>Email</label>
      <input type="text" name="email" placeholder="Email">
    </div>
    <div class="field">
      <label>Username</label>
      <input type="text" name="username" placeholder="Username">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password" placeholder="Password">
    </div>
    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0" class="" name="benar">
        <label>Apakah data kamu sudah benar?</label>
      </div>
    </div>
    <button class="ui button" type="submit">Submit</button>
    <div class="ui error message"></div>
  </form>
</div>
  

<% include ./partials/footer %>