body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.add-movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit {
  color: #444;
}

.erase {
  color: #444;
}

.centers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  margin: 0 auto;
}

.front-pic {
  max-width: 200px;
  max-height: 200px;
  display: table;
}

.user-pic {
  max-width: 200px;
  max-height:200px;
  display: block;
}